ion-title{
    text-align: center;
    margin-right: 50px;
}
ion-toolbar{
    --background:  #729d72;
}
ion-content{
    --background: #B3C9B3;
}

ion-list{ 
  
    margin-top: 30px;
    background-color: #B3C9B3; 
    border-radius: 50px;

}
h2{
    font-size: 25px;
}
ion-avatar{
    width: 60px;
    height: 60px;
}
.pctr{
   font-size: 70px;
}