<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button color="black" routerLink="/sign">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button onclick="" routerLink="/home">Skip</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="div1" > <br>
  <label class="lbl"> Upload Your Picture <br /> (Optional)
  </label> <br><br>
  <input class="inp" 
  type='file'
  name='photo' 
  accept='image/*'
> <br><br>

</div>
<div class=div2>
<button onclick="" routerLink="/home">Let's go!</button>
</div>




</ion-content>
<ion-footer>
  <p>By skipping or pressing "Let's go" you agree to <br /> our terms & conditions. </p>
</ion-footer>