ion-avatar {
    --border-radius: 0px;
}

.center-div {
    display: flex;
    justify-content: center;
    height: 80%;
    flex-direction: column;
}

ion-content{
    --background: #B3C9B3;
}