.biography {
  margin: 1em;
  width: 5em;
  aspect-ratio: 1 / 1;
  background-color: bisque;
  border-radius: 50%;
  overflow: hidden;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: #B3C9B3;
  z-index: 1;
}

.review {
  background-color: salmon;
}

.publication {
  aspect-ratio: 1 / 1;
  background-color: antiquewhite;
  border-radius: 5%;
  box-shadow: 0 0 0.2em gray;
}

ion-content{
  --background: #B3C9B3;
}

ion-item{
  --background: #B3C9B3;
}