<ion-content>
  <app-header [title]="pageTitle" [icon]="icon" ></app-header>
  <ion-item class="ion-margin-vertical">
    <ion-img class="biography" alt="User? profile's picture" src="assets/user.svg" />
    <ion-label margin>
      <ion-grid>
        <ion-col>{{ user?.firstname }}</ion-col>
        <ion-col>{{ user?.lastname }}</ion-col>
      </ion-grid>
      <p>{{ user?.description }}</p>
    </ion-label>
  </ion-item>
  <div *ngIf="user?.Review !== undefined" class="ion-padding-horizontal sticky">
    <ion-segment value="{{ segmentChoice }}" (ionChange)="handleChange($event)">
      <ion-segment-button value="publication">
        <ion-label>Publications</ion-label>
      </ion-segment-button>
      <ion-segment-button value="review">
        <ion-label>Review</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div>
    <div *ngIf="segmentChoice === 'publication'">
      <ion-title *ngIf="(user?.Post || []).length === 0">Aucunes publications</ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let item of (user?.Post || [])">
            <a href="/feed">
              <ion-img class="publication" src="assets/plant.svg" />
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="segmentChoice === 'review'">
      <ion-title *ngIf="(user?.Review || []).length === 0">Aucunes reviews</ion-title>
      <ion-list>
        <ion-item button *ngFor="let item of (user?.Review || [])">
          <ion-avatar slot="start">
            <ion-img class="review" alt="Item's type icon" src="assets/user.svg" />
          </ion-avatar>
          <ion-label margin>
            <ion-grid>
              <ion-col>{{ item.reviewer?.firstname }}</ion-col>
              <ion-col>{{ item.reviewer?.lastname }}</ion-col>
            </ion-grid>
            <p>{{ item.content }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button href="/tabs/home">
    <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button href="/tabs/search">
    <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button href="/tabs/message">
    <ion-icon aria-hidden="true" name="mail-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>