.plusIcon{
    color: grey;
}

.personIcon{
    color: grey;
}

ion-title{
    color: black;
    display: flex;
    justify-content: center;
}

ion-toolbar{
    --background:white;
    border-radius: 0 0 10px 10px;
}