<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button color="black" routerLink="/login">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <br>
  <div class="div1">
    <label>You will receive an email with instrutions to reset your password</label>
  </div>

  <div class="div2">
       <div class="div3">
    <ion-input type="email" placeholder="Email"/>
       </div>
     <ion-button class="btn1">Send Email</ion-button>
  </div>
</ion-content>
