ion-toolbar{
    --background:  #729d72;
    ion-button{
        text-transform: initial;
        font-size: 17px;
    }

}
ion-content{
    --background: #B3C9B3; 

}
.div1{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
}
.div2{
    margin-top: 50px;
    text-align: center;

}

ion-input{
    
    margin-left: 30px;
    background-color: white;
    border-radius: 15px;
}
.btn1{
    margin-top: 35px;
    font-size: 17px;
    --background: #729d72;
}

.div3{
    margin-right: 60px;
    
}

